@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Fredoka:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.ingreso{
    background-color:#CFEBFD;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.contenedor{
    background-color: #ffff;
    width: 400px;
    border-radius: 5%;
    border: solid;
    border-color: black;
    padding: 20px;
    margin: 10px;
    img{
        display: block;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }
    h1{
        text-align: center; 
    }
    p{
        text-align: left;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
    form li + li {
        margin-top: 1em;
        margin-bottom: 1em;
    }
      
    label {
        display: inline-block;
        width: auto;
        text-align: right;
    }
}

.botonAma{
    background-color: #FFC875;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
}

.botonAzu{
    background-color: #CFEBFD; 
    color: black;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
}

.input-container {
    position: relative;
    width: 90%;
    margin-left: 3%;
    
}

/* Estilos generales para inputs y selects */
.input-container-input,
.input-container select {
    color: gray;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: 2px solid rgba(128, 128, 128, 0.557);
    background-color: transparent;
    transition: outline-color 500ms, transform 500ms;
    width: 100%;
    appearance: none;
    font-size: 20px;
    left: 12px; 
}

.input-container-input:focus,
.input-container select:focus {
    outline-color: #FFC875;
}

.input-container-label {
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translateY(0%);
    color: gray;
    transition: transform 500ms, scale 500ms, background-color 500ms;
    padding-inline: 5px;
    width: 80%;
}

.input-container-input:focus + .input-container-label,
.input-container-input:valid + .input-container-label,
.input-container select:focus + .input-container-label,
.input-container select:valid + .input-container-label {
    transform: translateY(-30px) scale(0.8);
    background-color: rgb(255, 255, 255);
    translate: 0px , -15px; /* Mueve el texto del focus*/
    scale: 0.8;
    font-size: 20px;
    color: #FFC875;
    left: -10px;
    padding: 0 5px;
    
}

/* Pagina Inicio */

.inicio{
    background-color: white;
   
}
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 1px rgb(0, 0, 0);
    img{
        width: 220px;
    }
}

.logo {
    display: flex;
    align-items: center;
}



/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 30px;
}

.hero-content {
    max-width: 800px;
}

.tituloA{
    font-size: 50PX;
    color: #FFC875;
    font-weight: bold;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.tituloN{
    font-size: 50PX;
    color: #000000;
    font-weight: bold;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.hero p {
    font-size: 18px;
    color: #444;
    margin-right: 40px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #CFEBFD;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
}

.btn:hover {
    background-color: #64b5f6;
}

.hero-logo img {
    width: 400px;
    margin-right: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-logo img {
        width: 200px;
    }
}

.opciones{
    background-color: #CFEBFD;
    text-align: center;
}
